<nav class="navbar navbar-inverse" role="navigation">
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<h1 class="title">Medical Geography LAB</h1>
		<h2 class="title">Department of Geography - University of Cincinnati</h2>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<img src="../../assets/images/UClogo.png" height="100"/>
	</ul>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!-- elements to the left of navbar -->
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">HOME</a></li>
		<li><a href="#">RESEARCH</a></li>
		<li><a href="#">PEOPLE</a></li>
		<li><a href="#">PUBLICATIONS</a></li>
		<li><a href="#">PRESS</a></li>
		<li><a href="#">CONTACT</a></li>
	</ul>
<!-- elements to te right -->
<ul class="nav navbar-nav navbar-right">
<form class="navbar-form navbar-left" role="search">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>
</ul>
</div>
</nav>

<!-- For droping down menus
	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
</li>
-->