<div class="container">
<div class="row">
  <div class="col-md-12"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-nav-bar></app-nav-bar>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-home-content></app-home-content>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
<div class="footer navbar-fixed-bottom">
    <div class="container navbar-inverse">
      <p class="navbar-text pull-left active">© 2017 - POWERED BY BOOTSTRAP & MEA2N STACK · THEME BY INERTIA SAS
      </p>
      <a href="#" class="navbar-btn btn-primary btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe on Facebook</a>
    </div>
    </div>
  </div>
  </div>
</div>